.routine-table {
  width: fit-content;
  margin: auto auto 10px auto;
  background-color: lightgreen;
  z-index: 1;
  border-radius: 3px;
  padding: 40px;
}

.routine-table-title{
    color: #000;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.routine-table-row {
  min-height: 250px;
  min-width: 200px;
}

.routine-table-box {
  position: relative;
  display: flex;
  justify-content: initial;
  width: 100%;
  height: max-content;
  padding: 2px;
  flex-wrap: wrap;
  background-color: #1cb975d4;
  border: 1px solid lightgray;
}

.routine-table-box-add {
  position: absolute;
  font-size: 12px !important;
  width: fit-content !important;
  height: fit-content !important;
  z-index: 5;
  color: #f3ca05;
  background-color: transparent;
  border: 0px;
  bottom: 2px;
  padding: 1px !important;
  right: 4px;
}

.single-class{
  padding: 2px;
  margin: 2px;
  z-index: 1;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
}

.single-class-delete{
  font-size: 10px;
  position: absolute;
  top: 0.5px;
  right: 0.5px;
  z-index: 2;
  cursor: pointer;
  color: red;
}

.single-class-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.single-class-info-p {
  padding: 1px;
  font-size: 10px;
  margin-bottom: 2px;
}

.pdf-table-box{
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  align-items: center;
}

.pdf-single-class{
  padding: 2px;
  margin: 2px;
  background-color: rgb(54,99,66);
}

.pdf-single-class-info-p{
  padding: 1px;
  font-size: 11px;
  margin-bottom: 2px;
  color: #fff;
}
.pdf-table-title{
  padding: 3px;
  margin: 2px;
  background-color: initial;
  text-align: center;
}

.day{
  width: 100%;
  padding: 3px;
  color: #fff;
  text-align: center;
  margin-top: 3px;
  margin-bottom: -2px;
  background-color: rgb(54,99,66);
}

.sunDay{
  width: 100%;
  padding: 3px;
  color: #fff;
  text-align: center;
  margin-top: 3px;
  margin-bottom: -2px;
  background-color: rgb(167, 179, 6);
}

.monDay{
  width: 100%;
  padding: 3px;
  color: #fff;
  text-align: center;
  margin-top: 3px;
  margin-bottom: -2px;
  background-color: rgb(3, 58, 90);
}

.tuesDay{
  width: 100%;
  padding: 3px;
  color: #fff;
  text-align: center;
  margin-top: 3px;
  margin-bottom: -2px;
  background-color: rgb(54,99,66);
}

.wednesDay{
  width: 100%;
  padding: 3px;
  color: #fff;
  text-align: center;
  margin-top: 3px;
  margin-bottom: -2px;
  background-color: rgb(167, 179, 6);
}

.thursDay{
  width: 100%;
  padding: 3px;
  color: #fff;
  text-align: center;
  margin-top: 3px;
  margin-bottom: -2px;
  background-color: rgb(3, 58, 90);
}

.friDay{
  width: 100%;
  padding: 3px;
  color: #fff;
  text-align: center;
  margin-top: 3px;
  margin-bottom: -2px;
  background-color: rgb(95, 14, 14);
}


.short-form{
  font-size: 14px;
}

.table-column{
  width: 100%;
  height: fit-content;
  font-size: 12px;
  /* background-color: rgb(54,99,66); */
  color: #000;
}

.course-p{
  font-weight: 700;
  color: darkgreen;
}

.room-p{
  font-weight: 700;
  color: darkmagenta;
}

.faculty-p{
  font-weight: 700;
  color: darkgoldenrod;
}


