/* import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-create-routine-details',
  templateUrl: './create-routine-details.component.html',
  styleUrls: ['./create-routine-details.component.css']
})
export class CreateRoutineDetailsComponent implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

} */
