/* // import { Component, OnInit } from '@angular/core';

// @Component({
//   selector: 'app-program-details',
//   templateUrl: './program-details.component.html',
//   styleUrls: ['./program-details.component.css']
// })
// export class ProgramDetailsComponent implements OnInit {

//   constructor() { }

//   ngOnInit(): void {
//   }

// }

// import { Program } from '../program';
import { Component, OnInit, Input } from '@angular/core';
import { ProgramapiService } from '../programapi.service';
import { DepartmentapiService } from '../departmentapi.service';
import { Router, ActivatedRoute } from '@angular/router';
import { HttpClient } from '@angular/common/http';

@Component({
  selector: 'app-program-details',
  templateUrl: './program-details.component.html',
  styleUrls: ['./program-details.component.css'],
  providers: [ProgramapiService]
})
export class ProgramDetailsComponent  {

  // id: number;
  // program: Program;

  programs = [{pro_name: ''}];
  selectedProgram;

  departments = [{dpt_name: ''}];
  selectedDepartment;

  constructor(private route: ActivatedRoute,private router: Router, private programService: ProgramapiService)
  {

    this.getPrograms();
    this.selectedProgram = {programCode: '', pro_name: '' , pro_shortForm: '', DepartmentID: '', pro_type: ''};

    this.getDepartments();
    this.selectedDepartment = {DepartmentID: '', dpt_code: '' , dpt_name: '' };
  }

  getPrograms = () => {
    this.programService.getAllPrograms().subscribe(
      data => {
        this.programs = data;
      },
      error => {
        console.log(error);
      }
    );
  }

  getDepartments = () => {
    this.programService.getAllDepartments().subscribe(
      data => {
        this.departments = data;
      },
      error => {
        console.log(error);
      }
    );
  }

list(){
  this.router.navigate(['programlist']);
}

Programlist(){
  this.router.navigate(['program']);
}

} */
