<div class="jumbotron">
  <h1 class="display-4">Automatic Scheduler for University Students</h1>
  <p class="lead">This project aims to create an organized mobile-based scheduling system on departmental class routine that generates schedules automatically for students to know if they have conflict schedules easily. Students will  spend  less  time  in  getting  schedules  and  will  avoid  hustle  and  confusion  in viewing  class routine. It will also help them by having less time trying to look for their schedule.</p>
  <hr class="my-4">
 <p>Automatic Scheduler allocates the appropriate resources and time-slots to existing classes, allowing your Institution to achieve superior productivity gains. It solves a week or month-long task in just a few minutes, relieving human resources for other productive tasks
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


