/* <div class="form-group">
  <label for="name">CourseOffered ID</label>
  <input type="text" class="form-control" id="courseOffered" required [(ngModel)]="Routine.courseOffered" name="CourseOffered">
</div> */

/* <div class="form-group">
  <label for="name">Room Code</label>
  <input type="text" class="form-control" id="roomCode" required [(ngModel)]="Routine.roomCode" name="roomCode">
</div> */

/* <div class="form-group">
  <label for="name">Exam ID</label>
  <input type="text" class="form-control" id="examID" required [(ngModel)]="Routine.examID" name="examID">
</div> */

/* <div class="form-group">
  <label for="name">TimeSlot ID</label>
  <input type="text" class="form-control" id="timeSlotID" required [(ngModel)]="Routine.timeSlotID" name="timeSlotID">
</div> */

/* import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-create-routine',
  templateUrl: './create-routine.component.html',
  styleUrls: ['./create-routine.component.css']
})
export class CreateRoutineComponent implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

} */
