<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3 class="m-0 text-dark">Add Routine</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Add Routine</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid h-100 bg-light text-dark">
<div class="text-center">
  <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="BACK" (click)="gotoList()" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</button>
</div>
<br>
<div  style="width:800px; margin:0 auto;">
<div [hidden]="submitted" style="width: 400px;">
  <form>
    <!-- <div class="form-group">
      <label for="name">Routine ID</label>
      <input type="text" class="form-control" id="routineID" required [(ngModel)]="Routine.routineID" name="Routine ID">
    </div> -->

    <div class="form-group" style="width: 400px;"
    [class.has-error]="term.invalid && term.touched">
      <label for="term">Term</label>
      <div class="form-control">
        <label class="radio-inline">
            <input type="radio" name="term" required #term="ngModel"
                   value="Spring" [(ngModel)]="Term"> Spring
        </label>
        <label class="radio-inline">
            <input type="radio" name="term" required #term="ngModel"
                   value="Summer" [(ngModel)]="Term"> Summer
        </label>
        <label class="radio-inline">
          <input type="radio" name="term" required #term="ngModel"
                 value="Autumn" [(ngModel)]="Term"> Autumn
      </label>
    </div>
    </div>

    <div class="form-group">
      <label for="year">Year</label>
      <select id="year" name="year" [(ngModel)]="Year"
              class="form-control">
        <option *ngFor="let year of Years" [value]="year">
          {{year}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="day">Day</label>
      <select id="day" name="day" [(ngModel)]="Day"
              class="form-control">
        <option *ngFor="let day of Days" [value]="day">
          {{day}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="year">Program</label>
      <select id="program" name="program" [(ngModel)]="Program"
              class="form-control" (ngModelChange) ='programSelected()'>
        <option *ngFor="let program of programs" [value]="program.pro_shortForm">
          {{program.pro_name}}
        </option>
      </select>
    </div>
 </form>
</div>
</div>

  <button [disabled]="!firstStep" class="btn btn-success" (click)="addTermYearDayProgram()">Add</button>

</div>
