 <!-- Content Header (Page header) -->
 <div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3 class="m-0 text-dark">List of Department</h3>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Department</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="container text-center">
  <!-- <h1>{{title}}</h1> -->
</div>
<div class="container">
  <div class="row">
    <!-- <div class="search-departments">
      <input class="form-control" type="text" name="search" size="60"  value="" id="searchbar" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a department by id or name or code">
    </div> -->
  <div class="container">
    <div class="text-right">
      <b><h1> <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="Add Department" (click)="Createdepartment()" class="btn btn-primary mr-2" style="margin-left: 10px"><i class="fa fa-plus" aria-hidden="true"></i></button></h1></b>
    </div>
  </div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
       <!-- <th>Department ID</th> -->
       <th>Department Code</th>
       <th>Department Name</th>
       <th>Program</th>
       <th>Faculty</th>
       <th></th>
       <th></th>
       <th></th>
  <!-- <th>View</th>
       <th>Edit</th>
       <th>Delete</th> -->
    </tr>
 </thead>
 <tbody>
  <tr *ngFor="let department of departments" (click)="departmentClicked(department)">
    <!-- <tr *ngFor="let department of departments  | filter:searchText"> -->
      <!-- <td><h6 (click)="departmentClicked(department)"><tr>{{ department.DepartmentID }}</tr></h6></td> -->
      <td><h6 (click)="departmentClicked(department)"><tr>{{ department.dpt_code }}</tr></h6></td>
      <td><h6 (click)="departmentClicked(department)"><tr>{{ department.dpt_name }}</tr></h6></td>

      <td><a class ="btn btn-info" routerLink="/program/{{department.id}}"><i class="fas fa-laptop-code"></i></a>
      <td><a class ="btn btn-info" routerLink="/faculty/{{department.id}}"><i class="fas fa-laptop-code"></i></a>

      <td><button type="button" data-toggle="tooltip" data-placement="top" 
        ngbTooltip="View" (click)="departmentDetails(department.id)"
         class="btn btn-info" style="margin-left: 10px"><i class="fas fa-address-book">
         </i></button></td>

     <td><button type="button" data-toggle="tooltip" data-placement="top" 
      ngbTooltip="Edit" (click)="Updatedepartment(department.id)" 
      class="btn btn-success" style="margin-left: 10px"><i class="fa fa-pencil-square-o" aria-hidden="true">
      </i></button></td>
      
     <td><button type="button" data-toggle="tooltip" data-placement="top" 
      ngbTooltip="Delete" class="btn btn-danger" 
      (click)="deleteDepartment(department.id)">
      <i class="fa fa-trash" aria-hidden="true"></i></button></td>

    </tr>
  </tbody>
</table>
</div>
</div>

