/* import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-update-create-routine',
  templateUrl: './update-create-routine.component.html',
  styleUrls: ['./update-create-routine.component.css']
})
export class UpdateCreateRoutineComponent implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

} */
