<div class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html">
        <!-- <b>Register or Login</b> -->
      </a>
    </div>
    <!-- /.login-logo -->
    <div class="card">

      <div class="card-header bg-dark">
        <h1 class="text-white text-center">Login</h1>
        </div>

      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="/action_page.php">
          <div class="input-group mb-3">
            <input [(ngModel)]="authForm.username" type="text" class="form-control" id="fname" name="name" placeholder="User Name" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input [(ngModel)]="authForm.password" type="password" class="form-control" id="pwd" name="password" placeholder="Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>


        <div class="text-center">
          <!-- <button class="btn btn-primary text-center" (click)="registerUser()">R</button> -->
          <button class="btn btn-success" (click)="signIn()">Login User</button>
        </div>
   </form>
  </div>
  </div>
