/* <div class="form-group">
  <label for="name">Department ID</label>
  <input type="text" class="form-control" id="DepartmentID" required [(ngModel)]="Program.DepartmentID" name="DepartmentID">
</div> */


/* <div class="form-group">
  <label for="name">Type</label>
  <input type="text" class="form-control" id="pro_type" required [(ngModel)]="Program.pro_type" name="Type">
</div> */

/* import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-create-program',
  templateUrl: './create-program.component.html',
  styleUrls: ['./create-program.component.css']
})
export class CreateProgramComponent implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

} */
