input[type="radio"] {
  margin: 0 10px 0 10px;
}

.course-faculty {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course .faculty {
  margin-right: 8px;
}
.fa-plus {
  height: fit-content !important;
}
.course-faculty-table {
  margin: 20px;
}
