<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Edit Faculty</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Edit Faculty</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div>
<div>
  <div class="text-center">
    <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="BACK" (click)="gotoList()" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</button>
</div>
<div  style="width: fit-content; margin: auto auto 10px auto; background-color: lightgreen; z-index: 1; border-radius: 3px; padding: 40px;">
<form>
    <!-- <div class="form-group" style="width: 400px;">
      <label for="name">Faculty ID</label>
      <input type="text" class="form-control" id="facultyID" required [(ngModel)]="faculty.facultyID" name="facultyID">
    </div> -->

    <div class="form-group">
      <label for="name">Faculty Title</label>
      <select id="fac_designation" name="fac_title" [(ngModel)]="faculty[0].fac_title"
              class="form-control">
        <option  value="Mr">
          Mr
        </option>
        <option  value="Mrs">
          Mrs
        </option>
        <option  value="Dr">
          Dr
        </option>
        <option  value="Prof">
          Prof
        </option>
      </select>
      </div>


    <div class="form-group" style="width: 400px;">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="fac_firstName" required [(ngModel)]="faculty[0].fac_firstName" name="fac_firstName">
    </div>

    <div class="form-group" style="width: 400px;">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="fac_lastName" required [(ngModel)]="faculty[0].fac_lastName" name="fac_lastName">
    </div>

    <div class="form-group" style="width: 400px;">
      <label for="name">Short Name</label>
      <input type="text" class="form-control" id="fac_shortName" required [(ngModel)]="faculty[0].fac_shortName" name="fac_shortName">
    </div>

    <div class="form-group" style="width: 400px;"
    [class.has-error]="gender.invalid && gender.touched">
    <label class="control-label">Gender</label>
    <div class="form-control">
        <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel"
                   value="Male" [(ngModel)]="faculty[0].fac_gender"> Male
        </label>
        <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel"
                   value="Female" [(ngModel)]="faculty[0].fac_gender"> Female
        </label>
    </div>
    <span class="help-block" *ngIf="gender.errors?.required && gender.touched">
        Gender is required
    </span>
    </div>

    <div class="form-group">
      <label for="name">Designation</label>
      <select id="fac_designation" name="fac_designation" [(ngModel)]="faculty[0].fac_designation"
              class="form-control">
        <option  value="Professior">
          Professior
        </option>
        <option  value=" Associate professior">
          Associate professior
        </option>
        <option  value="Lecturer">
          Lecturer
        </option>
        <option  value="Senior Lecturer">
          Senior Lecturer
        </option>
      </select>
      </div>


    <div class="form-group">
      <label for="department">Department </label>
      <select id="DepartmentID" name="DepartmentID" [(ngModel)]="faculty[0].DepartmentID"
              class="form-control">
        <option *ngFor="let department of departments" [value]="department.id">
          {{department.dpt_name}}
        </option>
      </select>
    </div>

    <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="Edit Faculty" class="btn btn-success" (click)="updateFaculty()"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> EDIT </button>
 </form>
</div>
</div>
