<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Edit CourseOffered</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Edit CourseOffered</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div>
<div class="text-center">
  <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="BACK" (click)="gotoList()" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</button>
</div>
<br>
<div  style="width:800px; margin:0 auto;">
  <form>
    <!-- <div class="form-group">
      <label for="name">CourseOffered ID</label>
      <input type="text" class="form-control" id="courseOfferedID" required [(ngModel)]="courseOffered.courseOfferedID" name="CourseOffered ID">
    </div> -->

    <div class="form-group" style="width: 400px;"
    [class.has-error]="term.invalid && term.touched">
    <label class="control-label">Term</label>
    <div class="form-control">
        <label class="radio-inline">
            <input type="radio" name="term" required #term="ngModel"
                   value="Spring" [(ngModel)]="courseOfferedInfo.term"> Spring
        </label>
        <label class="radio-inline">
            <input type="radio" name="term" required #term="ngModel"
                   value="Summer" [(ngModel)]="courseOfferedInfo.term"> Summer
        </label>
        <label class="radio-inline">
          <input type="radio" name="term" required #term="ngModel"
                 value="Autumn" [(ngModel)]="courseOfferedInfo.term"> Autumn
      </label>
    </div>
    <span class="help-block" *ngIf="term.errors?.required && term.touched">
        Term is required
    </span>
    </div>

    <div class="form-group" style="width: 400px;">
      <label for="type">Year</label>
      <select class="form-control" id="courseOffered.year" required [(ngModel)]="courseOfferedInfo.year" name="Year">
        <option>2018</option>
        <option>2019</option>
        <option>2020</option>
        <option>2021</option>
        <option>2022</option>
        <option>2023</option>
        <option>2024</option>
        <option>2025</option>
        <option>2026</option>
        <option>2027</option>
      </select>
    </div>
    
    <div class="form-group" style="width: 400px;">
      <label for="course">COURSE</label>
      <input type='text' class="form-control" id="course"   [value] = "courseOfferedInfo.course" readonly >
    </div>

    <div class="form-group" style="width: 400px;">
      <label for="program">Program</label>
      <option [value]='courseOffered.program'>{{courseOffered.program}}</option>
      <select id="program" name="program" 
              class="form-control" [(ngModel)]='courseOffered.program'>
        <option *ngFor="let program of programs" [value]="program.programName">
          {{program.programName}}
        </option>
      </select>
    </div>

    <div class="form-group" style="width: 400px;">
      <label for="batch">Batch</label>
      <option [value]='courseOffered.batchName'>{{courseOfferedInfo.batch}}</option>
      <select id="sel1" name="batchName" 
              class="form-control" [(ngModel)]='courseOfferedInfo.batch'>
        
        <option *ngFor="let batch of batches" [value]="batch.batchName">
          {{batch.batchName}}
        </option>
      </select>
    </div>

    <div class="form-group" style="width: 400px;">
      <label for="batch">Section</label>
      <option [value]='courseOffered.sectionName'>{{courseOfferedInfo.section}}</option>
      <select id="sel1" name="batchName" 
              class="form-control" [(ngModel)]='courseOfferedInfo.section' >
              
        <option *ngFor="let section of sections" [value]="section.sectionName">
          {{section.sectionName}}
        </option>
      </select>
    </div>

   

    <div class="form-group" style="width: 400px;">
      <label for="faculty">Faculty</label>
      <option [value]='courseOffered.faculty'>{{courseOfferedInfo.faculty}}</option>
      <select id="facultyID" name="facultyID" [(ngModel)] = "courseOfferedInfo.faculty"
              class="form-control">
        
        <option *ngFor="let faculty of faculties" [value]="faculty.facultyID">
          {{faculty.fac_firstName + faculty.fac_lastName}}
          <!-- {{faculty.fac_firstName + faculty.fac_lastName}} -->
        </option>
      </select>
    </div>

    <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="Edit CourseOffered"
     class="btn btn-success" (click)="updateCourseOffered()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> UPDATE </button>
  </form>
</div>
</div>

