<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">For More Information</h5>
      <p class="grey-text text-lighten-4">

       Zindabazar, Sylhet-3100,
       <br>
       Telephone: +88-0821-789890-23
    </p>
  </div>

  <div class="col l4 offset-l2 s12">
    <h5 class="white-text">Contact</h5>

   Email: info@abcd.edu.bd
   <br>
   Mobile Phone: +88-01610-928282
  </div>

<div class="container">
   Copyright © ABCD University - All Rights Reserved
</div>
