<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->


<div class="wrapper">
  <!-- <app-header></app-header> -->
  <app-header></app-header>
  <!-- <app-navbar></app-navbar> -->
  <app-main-sidebar></app-main-sidebar>
   
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->

    <app-control-sidebar></app-control-sidebar>

    <app-footer></app-footer>
  </div>



 <!-- <div class="container text-center">
  <router-outlet></router-outlet>
</div>  -->


<!-- Footer --> <!-- Copyright -->
<!-- <footer class="page-footer font-small blue">


  <div class="footer-copyright text-center py-3">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">For More Information</h5>
      <p class="grey-text text-lighten-4">

       Zindabazar, Sylhet-3100,
       <br>
       Telephone: +88-0821-713077-8
       <br>
       Mobile Phone: +88-01610-932939
       <br>
       Fax: +88-0821-713304
      <br>
      Email: info@metrouni.edu.bd</p>
  </div>

<div class="container">
   Copyright © MetropolitanUniversity.org - All Rights Reserved
</div> -->
