 <!-- Content Header (Page header) -->
 <div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">List of Routine</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Routine</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<div class="col-md-6 center">
  <h1>Day Rutines</h1>
  <table class="center">
      <thead>
          <tr>
              <th>Title</th>
          </tr>
      </thead>
      <tr *ngFor="let title of cseRoutines">
        <td class="center"><h6 style="cursor: pointer;"><tr><td (dblclick)="showRoutine(title)">{{title}}</td></tr></h6></td>
      </tr>
      <tbody>
        
      </tbody>
  </table>
</div>

<div class="container">
<div class="row">
  <div class="container">
    <div class="text-right">
      <b><h1><button type="button" data-toggle="tooltip" data-placement="top" ngbTooltip="Add Routine" (click)="createRoutine()" class="btn btn-primary mr-2" style="margin-left: 10px"><i class="fa fa-plus" aria-hidden="true"></i></button></h1></b>
    </div>
  </div>
<table *ngIf='loadRoutine' class="table table-hover table-striped">
  <thead>
    <tr>
       <!-- <th>Routine ID</th> -->
       <th>Title</th>
       <th>Batch&Section</th>
       <th>Course</th>
       <th>Faculty</th>
       <th>TimeSlot</th>
       <th>Room</th>
       <th>View</th>
       <th>Delete</th>
       <!-- <th>View</th>
       <th>Edit</th>
       <th>Delete</th> -->
    </tr>
 </thead>

<tbody>
  <tr *ngFor="let routine of tempRoutines" >
    <!-- <td><h6 ><tr>{{routine.routineID}}</tr></h6></td> -->
    <td><h6 ><tr>{{routine.title}}</tr></h6></td>
    <td><h6 ><tr>{{routine.batchAndSection}}</tr></h6></td>
    <td><h6 ><tr>{{routine.courseName}}</tr></h6></td>
    <td><h6 ><tr>{{routine.faculty}}</tr></h6></td>
    <td><h6 ><tr>{{routine.timeSlot}}</tr></h6></td>
    <td><h6 ><tr>{{routine.room}}</tr></h6></td>

    <td><button type="button" data-toggle="tooltip" data-placement="top" 
      ngbTooltip="View" (click)="routineDetails(routine.id)"
       class="btn btn-info" style="margin-left: 10px">
       <i class="fas fa-address-book"></i>
      </button></td>
    <td><button type="button" data-toggle="tooltip" data-placement="top" 
      ngbTooltip="Delete" class="btn btn-danger" 
       (click)="deleteRoutine(routine.id)"> <i class="fa fa-trash" aria-hidden="true"></i></button></td>
    </tr>
  </tbody>
</table>

</div>
</div>

