<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3 class="m-0 text-dark">Add Course</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Add Course</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid h-100 bg-light text-dark">
<div class="text-center">
  <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="BACK" (click)="gotoList()" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</button>
</div>
<br>
<div  style="width: 550px; margin: auto auto 10px auto; background-color: lightgreen; z-index: 1; border-radius: 3px; padding: 40px;">
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Course Title</label>
      <input category="text" class="form-control" id="crs_title" required [(ngModel)]="Course.crs_title" name="crs_title">
    </div>

    <div class="form-group">
      <label for="name">Course Code</label>
      <input category="text" class="form-control" id="courseCode" required [(ngModel)]="Course.courseCode" name="courseCode">
    </div>

    <div class="form-group">
      <label for="name">Short Name</label>
      <input category="text" class="form-control" id="crs_shortName" required [(ngModel)]="Course.crs_shortName" name="crs_shortName">
    </div>

    <div class="form-group">
      <label for="name">Category</label>
      <select id="crs_category" name="crs_category" [(ngModel)]="Course.crs_category"
              class="form-control">
        <option  value="major">
          Major
        </option>
        <option  value="core">
          Core
        </option>
        <option  value="science & mathematics">
          Science & Mathematics
        </option>
        <option  value="general education">
          General Education
        </option>
      </select>
      </div>


    <div class="form-group">
      <label for="program">Program Code</label>
      <select id="programCode" name="programCode" [(ngModel)]="Course.programCode"
              class="form-control">
        <option *ngFor="let program of programs" [value]="program.programCode">
          {{program.pro_name}}
        </option>
      </select>
    </div>

    <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="Add Course" class="btn btn-success" (click)="createCourse()"> <i class="fa fa-plus" aria-hidden="true"></i> ADD </button>
  </form>
</div>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="createCourse()">Add</button>
</div>

</div>
