<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3 class="m-0 text-dark">Add CreateRoutine</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Add CreateRoutine</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid h-100 bg-light text-dark">
<div class="text-center">
  <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="BACK" (click)="gotoList()" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</button>
</div>
<br>
<div  style="width:800px; margin:0 auto;">
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <!-- <div class="form-group">
      <label for="name">Routine ID</label>
      <input type="text" class="form-control" id="routineID" required [(ngModel)]="Routine.routineID" name="Routine ID">
    </div> -->

    <div class="form-group">
      <label for="faculty">Faculty</label>
      <select id="fac_shortName" name="fac_shortName" [(ngModel)]="CreateRoutine.fac_shortName"
              class="form-control">
        <option *ngFor="let faculty of faculties" [value]="faculty.fac_shortName">
          {{faculty.fac_shortName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="batch">Batch</label>
      <select id="batch" name="batch" [(ngModel)]="CreateRoutine.batch"
              class="form-control">
        <option *ngFor="let batch of batches" [value]="batch.batchName">
          {{batch.batchName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="batch">Section</label>
      <select id="section" name="section" [(ngModel)]="CreateRoutine.section"
              class="form-control">
        <option *ngFor="let batch of batches" [value]="batch.sectionName">
          {{batch.sectionName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="course">CourseCode</label>
      <select id="courseCode" name="courseCode" [(ngModel)]="CreateRoutine.courseCode"
              class="form-control">
        <option *ngFor="let course of courses" [value]="course.courseCode">
          {{course.courseCode}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="course">Course</label>
      <select id="crs_shortName" name="crs_shortName" [(ngModel)]="CreateRoutine.crs_shortName"
              class="form-control">
        <option *ngFor="let course of courses" [value]="course.crs_shortName">
          {{course.crs_shortName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="room">Room</label>
      <select id="roomCode" name="roomCode" [(ngModel)]="CreateRoutine.roomCode"
              class="form-control">
        <option *ngFor="let room of rooms" [value]="room.roomCode">
          {{room.roomCode}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="timeSlot">Day</label>
      <select id="day" name="day" [(ngModel)]="CreateRoutine.day"
              class="form-control">
        <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot.tst_day">
          {{timeSlot.tst_day}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="timeSlot">Duration</label>
      <select id="duration" name="duration" [(ngModel)]="CreateRoutine.duration"
              class="form-control">
        <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot.tst_duration">
          {{timeSlot.tst_duration}}
        </option>
      </select>
    </div>

    <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="Add CreateRoutine" class="btn btn-success" (click)="createCreateRoutine()">  <i class="fa fa-plus" aria-hidden="true"></i> ADD </button>
 </form>
</div>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="createCreateRoutine()">Add</button>
</div>

</div>
