/* import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-course-offered-details',
  templateUrl: './course-offered-details.component.html',
  styleUrls: ['./course-offered-details.component.css']
})
export class CourseOfferedDetailsComponent implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

} */
