/* // import { Component, OnInit } from '@angular/core';

// @Component({
//   selector: 'app-department-list',
//   templateUrl: './department-list.component.html',
//   styleUrls: ['./department-list.component.css']
// })
// export class DepartmentListComponent implements OnInit {

//   constructor() { }

//   ngOnInit(): void {
//   }

// } */

/*
import { DepartmentDetailsComponent } from '../department-details/department-details.component';
import { Observable } from 'rxjs';
import { DepartmentapiService } from '../departmentapi.service';
import { Department } from '../department';
import { Component, OnInit } from '@angular/core';
import { Router } from '@angular/router';

@Component({
  selector: 'app-department-list',
  templateUrl: './department-list.component.html',
  styleUrls: ['./department-list.component.css'],
  providers: [DepartmentapiService]
})
export class DepartmentListComponent implements OnInit {
  departments: Observable<Department[]>;

  constructor(private departmentService: DepartmentapiService, private router: Router) {}

  ngOnInit() {
    this.reloadData();
  }

  reloadData() {
    this.departments = this.departmentService.getAllDepartments();
  }

  deleteDepartment(id: number) {
    this.departmentService.deleteDepartment(id)
      .subscribe(
        data => {
          console.log(data);
          this.reloadData();
        },
        error => console.log(error));
  }

  departmentDetails(id: number){
    this.router.navigate(['details', id]);
  }
} */
