th {
  background-color: SlateBlue;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

/* td, th {
  border: 1px solid #ddd;
  padding: 8px
}

table, th, td {
  border: 1px solid black;
} */

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table {
  border-collapse: collapse;
}

th {
  text-align: center;
}
/* import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-create-routines',
  templateUrl: './create-routines.component.html',
  styleUrls: ['./create-routines.component.css']
})
export class CreateRoutinesComponent implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

} */
