/* You can add global styles to this file, and also import other style files */

/* @import "@bootstrap/dist/css/bootstrap.css" */
@import "~bootstrap/dist/css/bootstrap.css";
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
/* import '@fortawesome/fontawesome-free/dist/css/all.css' */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */
/* @import  url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
} */

/* .mat-toolbar.mat-primary {
  background: #007bff;
  color: #fff;
} */
