<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3 class="m-0 text-dark">Edit Department</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Edit Department</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="text-center">
  <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="BACK" (click)="gotoList()" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</button>
</div>
<br>
<div  style="width: fit-content; margin: auto auto 10px auto; background-color: lightgreen; z-index: 1; border-radius: 3px; padding: 40px;">
  <form>
    <!-- <div class="form-group" style="width: 400px;">
      <label for="name">DepartmentID</label>
      <input type="text" class="form-control" id="DepartmentID" required [(ngModel)]="department.DepartmentID" name="DepartmentID">
    </div> -->

    <div class="form-group" style="width: 400px;">
      <label for="name">Code</label>
      <input type="text" class="form-control" id="dpt_code" required [(ngModel)]="department.dpt_code" name="dpt_code">
    </div>

    <div class="form-group" style="width: 400px;">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="dpt_name" required [(ngModel)]="department.dpt_name" name="dpt_name">
    </div>
    <br>
    <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="Edit Department" class="btn btn-success" (click)="updateDepartment()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> EDIT </button>
  </form>
</div>

</div>

