<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Add Department</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Add Department</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid h-100 bg-light text-dark">
<div class="text-center">
  <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="BACK" (click)="gotoList()" class="btn btn-primary"  text-align="right"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</button>
</div>
<br>
<div class="container">
<div  style="width:800px; margin:0 auto;">
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <!-- <div class="form-group">
      <label for="name">DepartmentID</label>
      <input type="text" class="form-control" id="DepartmentID" required [(ngModel)]="Department.DepartmentID" name="DepartmentID">
    </div> -->

    <div class="form-group">
      <label for="name">Code</label>
      <input type="text" class="form-control" id="dpt_code" required [(ngModel)]="Department.dpt_code" name="Code">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="dpt_name" required [(ngModel)]="Department.dpt_name" name="Name">
    </div>

    <br>
    <button type="button"  data-toggle="tooltip" data-placement="left" ngbTooltip="Add Department" class="btn btn-success"  (click)="createDepartment()"> <i class="fa fa-plus" aria-hidden="true"></i> ADD </button>
 </form>
</div>
</div>
</div>
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="createDepartment()">Add</button>
</div>

</div>
