<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html">
                <!-- <b>Register or Login</b> -->
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="card">

            <div *ngIf='!tokenSend' class="card-header bg-dark">
                <h1 class="text-white text-center">Send Token</h1>
            </div>

            <div *ngIf='!tokenSend' class="card-body login-card-body">

                <form action="/action_page.php">

                    <div class="input-group mb-3">
                        <input [(ngModel)]="email" type="email" class="form-control" id="pwd" name="email"
                            placeholder="Email" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>


                    <div class="text-center">
                        <!-- <button class="btn btn-primary text-center" (click)="registerUser()">R</button> -->
                        <button class="btn btn-success" (click)="sendToken()">SEND</button>
                    </div>

                </form>
            </div>

            <div class="card">

                <div *ngIf='tokenSend' class="card-header bg-dark">
                    <p class="text-green text-center">Copy the token from email.Check spam folder In case!</p>
                </div>

                <div *ngIf='tokenSend' class="card-body login-card-body">

                    <form action="/action_page.php">

                        <div class="input-group mb-3">
                            <input [(ngModel)]="token" type="text" class="form-control" id="pwd" name="token"
                                placeholder="token from email" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="password" type="password" class="form-control" id="pwd" name="password"
                                placeholder="New password" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <!-- <button class="btn btn-primary text-center" (click)="registerUser()">R</button> -->
                            <button class="btn btn-success" (click)="resetPassword()">reset</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>